*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

div {
    outline: none
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #727272
}

.row {
    margin-left: -20px;
    margin-right: -20px
}

.col_1 {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 8.333333333333332%
}

.col_2 {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 16.666666666666664%
}

.col_3 {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 25%
}

.col_4 {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 33.33333333333333%
}

.col_5 {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 41.66666666666667%
}

.col_6 {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%
}

.col_7 {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 58.333333333333336%
}

.col_8 {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 66.66666666666666%
}

.col_9 {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 75%
}

.col_10 {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 83.33333333333334%
}

.col_11 {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 91.66666666666666%
}

.col_12 {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%
}

a:link {
    cursor: pointer;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -o-transition: 3s;
    -ms-transition: 3s;
    transition: 3s
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
select,
textarea {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s
}

input[type="checkbox"],
input[type="radio"] {
    margin: 0 5px 0 0
}

textarea {
    height: auto;
    width: auto
}

input[type="submit"] {
    cursor: pointer;
    margin: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s
}

.submit>*,
.submit_rt>*,
.submit_ct>* {
    margin-left: 10px
}

.submit>*:first-child,
.submit_rt>*:first-child,
.submit_ct>*:first-child {
    margin-left: 0
}

.submit_rt {
    text-align: right
}

.submit_ct {
    text-align: center
}

.submit_ct>*,
.submit_ct>*:first-child {
    margin-left: 5px;
    margin-right: 5px
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #F28425
}

.form_labelhidden label {
    display: none
}

.form_labelhidden .checkbox label,
.form_labelhidden .radiobox label {
    display: inline-block
}

.iconf_18 {
    position: relative;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url(../img/sprite-sheet-2basev5.png) no-repeat
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th,
td {
    vertical-align: top
}

.wrapper_all {
    min-width: 320px;
    overflow: hidden
}

.wrapper_inner {
    width: 100%;
    max-width: 1240px;
    margin: auto
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.binary-genealogy-tree {
    text-align: center
}

.binary-level-width-100 {
    width: 100%
}

.binary-level-width-50,
.binary-level-width-25,
.binary-level-width-12,
.binary-level-width-6 {
    width: 50%
}

.binary-level-width-33 {
    width: 33%
}

.node-left-item {
    float: left
}

.node-right-item {
    float: right
}

.parent-wrapper {
    padding: 30px 0;
    position: relative
}

.binary-genealogy-level-2 .parent-wrapper {
    width: 50%;
    float: left
}

.binary-genealogy-level-3 .parent-wrapper {
    width: 25%;
    float: left
}

.binary-node-single-item {
    width: 40px;
    height: 40px;
    border: solid 2px #000;
    border-radius: 50%;
    display: block;
    margin: auto;
    line-height: 80px;
    text-align: center
}

.node-item-root {
    position: relative
}

.node-item-root:after {
    width: 2px;
    height: 50px;
    background: #000;
    position: absolute;
    display: block;
    bottom: -49px;
    left: 50%;
    content: ''
}

.binar-hr-line-left {
    width: 50%;
    height: 2px;
    background: #000;
    float: right;
    margin: -13px 0 0 0;
    position: relative
}

.binar-hr-line-left:after {
    width: 2px;
    height: 13px;
    background: #000;
    position: absolute;
    display: block;
    bottom: -11px;
    left: 0;
    content: ''
}

.binar-hr-line-right {
    width: 50%;
    height: 2px;
    background: #000;
    float: left;
    margin: -13px 0 0 0;
    position: relative
}

.binar-hr-line-right:after {
    width: 2px;
    height: 13px;
    background: #000;
    position: absolute;
    display: block;
    bottom: -11px;
    right: 0;
    content: ''
}

.binary-genealogy-level-1 .parent-wrapper .node-left-item,
.binary-genealogy-level-2 .parent-wrapper .node-left-item {
    position: relative
}

.binary-genealogy-level-1 .parent-wrapper .node-left-item:after,
.binary-genealogy-level-2 .parent-wrapper .node-left-item:after {
    width: 2px;
    height: 49px;
    background: #000;
    position: absolute;
    display: block;
    top: 80px;
    left: 50%;
    content: ''
}

.binary-genealogy-level-1 .parent-wrapper .node-right-item,
.binary-genealogy-level-2 .parent-wrapper .node-right-item {
    position: relative
}

.binary-genealogy-level-2 .parent-wrapper .node-right-item:after,
.binary-genealogy-level-1 .parent-wrapper .node-right-item:after {
    width: 2px;
    height: 49px;
    background: #000;
    position: absolute;
    display: block;
    top: 80px;
    right: 50%;
    content: ''
}

.node-item-uid-0:after {
    display: none !important
}

.parent-wrapper .parent-wrapper {
    width: 100%;
    padding: 61px 0
}

.images_wrapper img {
    margin: -6px 0 0
}

.wrap_content {
    background: #12afcb;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 12px;
    height: 21px;
    line-height: 19px;
    margin: 0 0 0 -33px;
    min-width: 100px;
    position: relative;
    width: auto;
    z-index: 1
}

.wrap_content a:link,
.wrap_content a:visited {
    text-decoration: none;
    color: #fff
}

.wrap_content:hover {
    background: #333
}

.btn-danger {
    position: relative;
    z-index: 2
}

.user-block {
    position: relative;
    cursor: pointer
}

.pop-up-content {
    width: 220px;
    height: auto;
    display: block;
    background: #e7e7e7;
    border: solid 1px #c2c0c0;
    border-radius: 10px;
    z-index: 3;
    top: -30px;
    left: -90px;
    text-align: left;
    padding: 13px;
    position: relative
}

.pop-up-content:after {
    width: 30px;
    height: 43px;
    display: block;
    content: '';
    position: absolute;
    left: -30px;
    top: 10px;
    display: block;
}

.pop-up-content.right_tooltip {
    right: 280px;
    left: auto
}

.pop-up-content.right_tooltip:after {
    right: -30px;
    left: auto
}

.profile_tooltip_pick {
    display: inline-block;
    vertical-align: top
}

.tooltip_profile_detaile {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px
}

.binary-node-single-item .tooltip_profile_detaile dl {
    line-height: 30px;
    margin: 0
}

.tooltip_profile_detaile dl dt,
.tooltip_profile_detaile dl dd {
    display: inline-block;
    vertical-align: middle;
    font-family: "latoregular";
    font-size: 14px;
    color: #727272
}

.tooltip_profile_detaile dl dt {
    color: #333333;
    position: relative;
    padding-right: 10px
}

.tooltip_profile_detaile dl dt:after {
    content: ':';
    position: absolute;
    top: 0;
    right: 0;
    display: block
}

.tooltip_btn {
    padding: 10px 0 0 0
}

.tooltip_btn a:link,
.tooltip_btn a:visited {
    width: 110px;
    height: 24px;
    background: #12afcb;
    border-radius: 20px;
    display: block;
    line-height: 24px;
    text-align: center;
    font-family: "latoregular";
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    -ms-transition: 0.1s;
    transition: 0.1s
}

.tooltip_btn a:hover {
    background: #333
}

.image_tooltip {
    width: 80px;
    height: 80px;
    background: #333333;
    border-radius: 50%;
    box-shadow: 4px 4px 3px #aaa
}

.image_tooltip img {
    width: 100%;
    height: auto
}

.pop-up-content {
    display: none
}

.user-block:hover .pop-up-content {
    display: block
}

.clearthis:after,
.wrapper_inner:after,
.widget_header:after,
.widget_body:after,
.widget_footer:after,
.form_mini:after,
.row:after,
.social_links:after,
*[class^="col_"]:after,
.servicelist:after,
.breadcrumb:after,
.page_title:after,
.wrapper_main:after,
.cms:after {
    content: '.';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    text-indent: -9999px
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%
}

.hidden {
    display: none !important;
    visibility: hidden
}

.visuallyhidden {
    border: 0;
    clip: rect(0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    margin: -1px;
    padding: 0
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    position: static;
    width: auto;
    margin: 0
}

.invisible {
    visibility: hidden
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100% !important
    }
    @page {
        margin: .5cm
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}


/*# sourceMappingURL=style.css.map */